/*styles go here*/

/*p {
  color: red;
}*/

img {
  border: none;
  float: left;
}

p {
  color: black;
  font-family: 'Raleway', sans-serif, Helvetica, Arial;
  text-align:center;
}

h1 {
  font-family: 'Merriweather', Georgia, "Times New Roman", serif;
  font-size: 60px;
}

h2 {
  font-family: 'Merriweather', Georgia, "Times New Roman", serif;
  font-size: 30px;
}

body {
  background-color: gray;
  text-align:center;
}

article {
  margin-bottom: 0.7em;
  border-bottom: 1px solid #ccc;
}

article:last-of-type {
  border-bottom: none;
}

nav ul{
  display: flex;
  flex-flow: column;
}

nav ul li {
  display: block;
  border-top: 1px #79896d solid;
}

nav a {
  color: #f8ecc2;
  display: block;
  text-decoration: none;
  padding: 20px 30px;
}

header {
  display: flex;
  flex-flow: row;
  background-color: #65a8a6;
  margin: 0;
  padding: 0 10px;
}

.menu-trigger {
  order: 1;
}

header h1 {
  order: 2;
}

nav ul {
  display: none;
}

#container {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
}

#nav {
  padding: 0;
  list-style-type: none;
}

#nav li {
  padding: 15px 18px;
  display: inline-flex;
}

#nav a:link {
  display: inline flex;
  min-width: 140px;
  height: 30px;
  color:black;
  background-color: #bfc7d8;
  font-weight: bold;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  padding: 4px;
  text-decoration: none;
}

#nav a:hover,#nav a:active {
  background-color:white;
  text-decoration: underline;
  text-decoration-color: black;
}

.title {
  display: flex;
  justify-content: space-between;
}

.caption {
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  text-align: right;
  margin-top: 5px;
}

.authorbox img {
  display: none;
  width: 100%;
}

.sidebar {
  display: flex;
  flex-direction: row;
  margin: 0 50px 0 50px;
}

.sidebar img, p {
  display: inline-flex;
}


@media screen and (max-width:450px) {
  img {
    float: none;
  }
  #container {
    flex-direction: column;
    flex-wrap: wrap;
  }
  #nav li {
    display: flex;
    justify-content: center;
  }
  .sidebar {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .sidebar img, p {
    display: flex;
    justify-content: center;
    align-content: center;
  }
}

@media screen and (min-width: 450px) {
  nav li {
    flex-flow: row;
    justify-content: space-between;
  }
}

@media screen and (min-width:600px) {
  #container {
    width: 80%;
  }

  .authorbox img {
    display: block;
    width: 100%;
    margin-top: 0.5em;
  }

  .authorbox img {
    width: 90%;
    max-width: 200px;
    float: left;
    margin-right: 20px;
  }


@media screen and (min-width: 1000px) {
  article {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
    "a a a"
    "b b b"
    "c c c";
  }

  .section1 {
    grid-area a;
  }

  .authorbox {
    grid-area b;
    width: 50%;
  }

  .section2 {
    grid-area c;
  }
  .section1 p:first-of-type, section2 p:first-of-type {
    margin-top: 0;
  }
}

@media screen and (min-width: 700px) {
  nav ul {
    display: flex;
  }
  nav ul li {
    border-top: none;
  }
  .menu-trigger {
    display: none;
  }
  nav {
    order: 2;
  }
}
